.hardfork-view {
    max-width: 600px;
    margin   : auto;

    >h1 {
        margin-top: 16px;
        font-size : 3rem;
    }

    >.button {
        font-size: 32px;
    }

    >a {
        >img:hover {
            transform: scale(3);

            @media @phone {
                transform: scale(2);
            }
        }
    }
}