@import "base.less";

@font-face {
    font-family: 'ChosunGs';
    src        : url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGs.woff') format('woff');
    font-weight: normal;
    font-style : normal;
}

body {
    font-family: ChosunGs;
    max-width  : 600px;
    margin     : auto;
    padding    : 20px;
    text-align : center;
}

a {
    color          : blue;
    text-decoration: underline;
}

h1 {
    font-size  : 50px;
    text-align : center;
    font-weight: bold;
    color      : rgb(250, 203, 133);
}

h2 {
    margin-top : 20px;
    font-size  : 30px;
    text-align : center;
    font-weight: bold;
    color      : rgb(250, 203, 133);
}

h3 {
    margin-top : 20px;
    font-size  : 20px;
    text-align : center;
    font-weight: bold;
    color      : #666;
}

img {
    display: block;
    margin : auto;
}

p {
    padding    : 20px 0;
    text-align : center;
    line-height: 1.5em;
}

footer {
    margin-top : 20px;
    line-height: 1.5em;
    text-align : center;
}